@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --linear-gradient: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: var(--very-light-grayish-blue);
  overflow-x: hidden;
  position: relative;
}

.bg-top {
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 658px;
  z-index: -1;
  position: absolute;
  top: -40px;
  right: -50%;
}

header {
  padding-top: 63px;
}
header h1 {
  font-size: 2.17em;
  color: var(--grayish-blue);
}
header .switch {
  margin: 40px auto 0;
  width: 240px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .switch p {
  color: var(--light-grayish-blue);
}
header .switch .toggle {
  padding: 0 4px;
  width: 57px;
  height: 32px;
  border-radius: 16px;
  border: 0;
  background-image: var(--linear-gradient);
  display: flex;
  align-items: center;
  position: relative;
}
header .switch .toggle:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom right,
    hsl(239, 72%, 89%),
    hsl(238, 61%, 83%)
  );
}
header .switch .toggle .selector {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: white;
}
header .switch .toggle .selector.month-selector {
  position: absolute;
  right: 4px;
}

article {
  margin-top: 80px;
}

article .container {
  margin: 32px auto 0;
  padding: 33px 30px 31px;
  width: 87.5%;
  max-width: 350px;
  border-radius: 8px;
  background-color: white;
}
article h2 {
  font-size: 1.2em;
  color: var(--grayish-blue);
}
article .price {
  margin-top: 20px;
  margin-bottom: 24px;
  width: 100%;
  font-size: 4.8em;
  color: var(--dark-grayish-blue);
}
article .price::first-letter {
  font-size: 55%;
  vertical-align: 25%;
}
article .price.hidden {
  display: none;
}
article .features p {
  padding: 16px 0;
  border-top: 1px solid var(--light-grayish-blue);
  color: var(--grayish-blue);
}
article .features p:last-child {
  padding-bottom: 17px;
  border-bottom: 1px solid var(--light-grayish-blue);
}
article button {
  margin-top: 33px;
  width: 100%;
  height: 44px;
  border-radius: 5px;
  border: 0;
  background-image: var(--linear-gradient);
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.085em;
}
article button:hover {
  cursor: pointer;
  border: 1px solid hsl(237, 63%, 64%);
  background-image: none;
  background-color: transparent;
  color: hsl(237, 63%, 64%);
}

article .professional .container {
  background-image: var(--linear-gradient);
}
article .professional h2,
article .professional .price,
article .professional .features p {
  color: white;
}
article .professional button {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}
article .professional button:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.attribution {
  margin-top: 58px;
  font-size: 10px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* RESPONSIVE DESIGN */
@media (min-width: 1100px) {
  .bg-top {
    width: 375px;
    top: 0;
    right: 0;
  }
  header {
    padding-top: 70px;
  }

  article {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 64px auto;
  }
  article .container {
    margin: 0;
    width: 350px;
    padding-top: 34px;
  }
  article .price {
    margin-top: 18px;
    margin-bottom: 25px;
  }
  article .features p {
    padding-bottom: 17px;
  }
  article button {
    margin-top: 32px;
  }

  article .basic,
  article .master {
    margin: 23px 0;
  }
  article .basic .container {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  article .professional .container {
    padding: 57px 30px 55px;
  }
  article .master .container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .bg-bottom {
    background-image: url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    width: 353px;
    height: 304px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .attribution {
    margin-top: 90px;
  }
}
